*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
libs/
sampledata/
src/main/assets/out/
src/main/java/com/example/choejun_yeong/blocker_android/contracts/
src/main/res/solidity/
